/*--main styling--*/
html body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}

h1 {
    background-color: black;
    color: white;
    font-family: serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
  display: flex;
  font-family: serif;
  justify-content: center;
  margin-top: 0;
  padding: 0;
  color: white;
}


p {
  margin: 0;
  display: flex;
}

/*---nav styles---*/
 

ul {
   border: 1px solid grey;
   list-style: none;
   background-color: black;
   margin: 0;
   padding: 0;
}

li {
   text-align: center;
   border-bottom: 1px solid grey;
   font-size: 1.4em;
}

li a {
 display: block;
 text-decoration: none;
 color: white;
}

a:hover {
  color: blue;
}

a:active {
  background-image: url(images/Stars\ in\ the\ sky.jpg);
}

li a:last-child {
   border: none;
}

footer {
   position: fixed;
   bottom: 0;
   text-align: center;
   display: block;
   width: 100%;
   margin: 0;
   background-color: cornflowerblue;
}

/*--Page Specific style--*/

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}


/*--media querys--*/

@media (min-width: 750px) {
  h1 {
    text-align: left;
  }

  li {
    display: inline-block;
    text-align: right;
    overflow: hidden;
    vertical-align: top;
  }

  header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 0 .5em;
    align-items: center;
  }

  nav {
    flex: 1 1 70%;
    text-align: right;
  }

  ul {
    border: none;
  }

  li {
    margin: 0 5px 0 5px;
  }
}

 @media (min-width: 1500px){
   
 }