h1 {
    background-color: black;
    color: white;
    font-family: serif;
    text-align: center;
    margin-top: 0%;
    padding-top: 0%;
}

p {
  background-color: slategray;
  color: azure;
}

.nav {
   color: cadetblue;

}
/*---------
media querys
---------*/
